#tic_logos {
	background: rgba(1,1,1,0.3); 
}
#tic_logos >h1{
	color: #b9b9b9;
	text-align: center;
}
.logo img {
	/* width: 200px; height: 200px;*/ padding: 20px;
}
.logo h2,.logo_desc {
	color: #b9b9b9;
}
.blog-sidebar {
	display: none;
}
