{% extends "base.html" %}

{% load staticfiles %}

{% block static_files %}
  <link rel="stylesheet" type="text/css" href="{% static 'blog_base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jquery.tzineClock/jquery.tzineClock.css' %}">
  <script type="text/javascript" src="{% static 'jquery.tzineClock/jquery.tzineClock.js' %}"></script>
  <script type="text/javascript" src="{% static 'clock.js' %}"></script>
  {% block blog_static_files %}{% endblock %}

{% endblock %}

{% block mainbody %}
<div class="row">
  <div class="col-md-8 blog-content">
    {% block content %}{% endblock %}
  </div>
  <div class="col-md-4 blog-sidebar"><aside>{# 侧边栏 #}
    <div class="panel row" id="colorClock"></div>
    <div class="panel search">
      <form action="{% url 'blog:search' %}" method="post" class="searchform">
        {% csrf_token %}
        <input required="required" type="search" name="q" id="q" value="{{ q|default:"" }}" placeholder="Search Blog" />
        <input type="submit" id="submit" value="Search" class="btn"/>
      </form>
    </div><!-- end search -->
    <div class="panel catalogues">
      <div class="panel-heading">目录<span class="glyphicon glyphicon-folder-open"></span></div>
      <ul class="list-group">
        {% if not cur_cata %}
        <li class="list-group-item current"><span class="decor">&#9660;</span><a href="{% url 'blog:post_all' %}">All</a></li>
        {% else %}
        <li class="list-group-item"><span class="decor">&#9654;</span><a href="{% url 'blog:post_all' %}">All</a></li>
        {% endif %}
        {% for cata in cata_list %}
          {% spaceless %}
          {% if cur_cata.title == cata.title %}
          <li class="list-group-item current"><span class="decor">&#9660;</span>
          {% else %}
          <li class="list-group-item"><span class="decor">&#9654;</span>
          {% endif %}
          <a href="{% url 'blog:cata' cata.title %}">{{ cata.title }}<span class="badge">{{ cata.catalogue_post.count }}</span></a></li>
          {% endspaceless %}
        {% endfor %}
      </ul>
    </div><!-- end catalogues -->
    <div class="panel tags">
      <div class="panel-heading">标签<span class="glyphicon glyphicon-tags"></span></div>
      <ul class="list-group">
        {% for tag in tag_list %}
          <li class="list-group-item"><span class="decor"><span class="glyphicon glyphicon-tag"></span></span><a href="{% url 'blog:tag' tag.name %}">{{ tag.name }}</a></li>
        {% endfor %}
      </ul>
    </div><!-- end tags -->
{#    <div class="panel series"> #}
{#    </div><!-- end series -->#}
  </aside></div>{# end侧边栏 #}
</div>
{% endblock %}
