* {font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu; }
h1,h2,h3,h4,h5,h6 {font-family: Georgia, serif; }
.content {width:700px; margin:0 auto; padding: 20px; background-color: EAEAEA}