{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Jayson 小站</title>
<meta name="keywords" content="博客,JaySon,网络安全" />
<meta name="description" content="" />
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<link href="{% static 'css/view.css' %}" rel="stylesheet">
<link href="{% static 'css/animation.css' %}" rel="stylesheet">
<!-- 返回顶部调用 begin -->
<link href="{% static 'css/lrtk.css' %}" rel="stylesheet" />
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js.js' %}"></script>
<!-- 返回顶部调用 end-->
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
  <header>
  	<nav id="nav">
      <ul>
      {% for guidance in guidance_list %}
        <li><a href="{{ guidance.url }}" title="{{guidance.title}}" >{{guidance.title}}</a></li>
      {% endfor %}
      </ul>
      <script src="{% static "js/silder.js" %}"></script><!--获取当前页导航 高亮显示标题-->
    </nav>
  </header>
  <div class="mainbody">
	<div class="info">
      <img src="{% static 'images/profile_icon.jpg' %}" alt=""><br />
      <h1>JaySon.<h1/>
    </div> <!--info end-->
    <div class="main">
      {% block content %}{% endblock %}
      <aside>
        <div class="search">
          <form class="searchform" method="get" action="">
          <input type="search" name="q" value="{% if q %}{{q}}{% endif %}"  placeholder="Search Blog" >
        </form>
        </div>
      </aside>
    </div>
  </div><!--mainbody end-->
  <footer>
    <div class="footer-bottom">
      <p>Copyright &copy;2014 JaySon Huang.</p>
    </div>
  </footer><!--footer end-->
<!-- jQuery仿腾讯回顶部和建议 代码开始 -->
<div id="tbox"><a id="gotop" href="javascript:void(0)">返回顶部</a></div>
<!-- 代码结束 -->
</body>
</html>
