{% load staticfiles %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="博客,JaySon,网络安全,信息安全," />
    <meta name="description" content="" />

    <link rel="alternate" hreflang="zh" href="http://jaysonhwang.sinaapp.com/" />
  {% if IS_ONLINE %}

    {% for css in css_files %}
    <link rel="stylesheet" href="http://jaysonhwang-static.stor.sinaapp.com/{{ css }}">
    {% endfor %}
    {% for js in js_files %}
    <script type="text/javascript" src="http://jaysonhwang-static.stor.sinaapp.com/{{ js }}"></script>
    {% endfor %}

  {% else %}

    {% for css in css_files %}
    <link rel="stylesheet" href="{% static css %}">
    {% endfor %}
    {% for js in js_files %}
    <script type="text/javascript" src="{% static js %}"></script>
    {% endfor %}
    
  {% endif %}
    <!--[if lt IE 9]>
      <script src="http://jaysonhwang-static.stor.sinaapp.com/js/modernizr.js"></script>
    <![endif]-->

  </head>

<body>
  <header>
  	<nav id="nav" class="nav">
      <ul>
      {% for profile in profile_list %}
        <li><a href="{{ profile.url }}" title="{{ profile.title }}" >{{profile.title}}</a></li>
      {% endfor %}
      </ul>
      <script src="http://jaysonhwang-static.stor.sinaapp.com/js/silder.js"></script><!--获取当前页导航 高亮显示标题-->
      
    </nav>
  </header>
  <div class="container">
	<div class="info">
      <img src="http://jaysonhwang-static.stor.sinaapp.com/images/profile_icon.jpg" alt=""><br />
      <h1>JaySon.<h1/>
    </div> <!--info end-->
    <div id="content" class='row-fluid'>
      {% block content %}{% endblock %}
      <div class='col-md-3 blog-sidebar'>
      <aside>
        <div class="search">
          <form class="searchform" method="get" action="">
            <input type="search" name="q" value="{% if q %}{{ q }}{% endif %}"  placeholder="Search Blog" >
          </form>
        </div>
        <div class="catalogue">
          <h2>目录</h2>
          <hr />          
          <ul>
          {% if not current_cata %}
            <li class="current"><span class="decor">&#9660;</span><a href="/">All</a></li>
          {% else %}
            <li><span class="decor">&#9654;</span><a href="/">All</a></li>
          {% endif %}
          {% for cata in cata_list %}
            {% if current_cata == cata.title %}
            <li class="current"><span class="decor">&#9660;</span>
            {% else  %}
            <li><span class="decor">&#9654;</span>
            {% endif %}
            <a href="/cata/{{ cata.title }}">{{ cata.title }}&nbsp;({{cata.catalogue_post.count}})</a>
            </li>
          {% endfor %}
          </ul>
        </div>
<!--
        <div class="tags">
          <ul>
          </ul>
        </div> -->
      </aside>
      </div>
    </div>
  </div><!--container end-->
  <footer>
    <div class="footer-bottom">
      <a href="/sitemap.xml" title='站点地图'>站点地图</a>
      <br />
      <a href="/tic_logo/">TIC logo设计查看</a>
      <br />
      <p>Copyright &copy; 2014 by JaySon Huang.All rights reserved.</p>
    </div>
  </footer><!--footer end-->
<!-- jQuery仿腾讯回顶部和建议 代码开始 -->
<div id="tbox"><a id="gotop" href="javascript:void(0)">返回顶部</a></div>
<!-- 代码结束 -->
</body>
</html>
