{% extends 'base.html' %}
{% load disqus_tags %}

{% block title %}TIC logo设计 - JaySon的小黑屋{% endblock %}

{% block content %}
<div id="tic_logos" class="table-bordered container-fluid">
  <h1>Tic logo设计</h1>
  <div class="row">
    <div class="logo col-xs-4">
      <img class="col-xs-12" src="http://jaysonhwang-static.stor.sinaapp.com/tic_logo/01.jpg" />
      <h2>01号</h2>
      <div class="logo_desc">
      	腾讯QQ是腾讯公司最出名的产品，logo的中间是QQ的轮廓，代表着腾讯，logo的上方是腾讯俱乐部的英文名称，下方写着“腾讯俱乐部”，虽说比较简单，但能让人一看就清楚是什么社团的logo，而且如果把这个logo的颜色弄得比较复古的话，就更能吸引别人，当然个人觉得比较好看*^_^* 
      </div>
    </div>
    <div class="logo col-xs-4">
      <img class="col-xs-12" src="http://jaysonhwang-static.stor.sinaapp.com/tic_logo/02.jpg" />
      <h2>02号</h2>
      <div class="logo_desc">
      	创意主题为腾讯创新俱乐部，即TIC。创意思路是用企鹅的标志代替tencent，更具有辨识度，同时也隐去了TIC中T的标识留下IC，简化logo。但同时在logo下方全拼了scut tencent inovation club，也就是解释了俱乐部的全意。创意目标是简洁明了，扩大辩识率，并且统一了标志颜色，方便各类配适调整颜色。
      </div>
    </div>
    <div class="logo col-xs-4">
      <img class="col-xs-12" src="http://jaysonhwang-static.stor.sinaapp.com/tic_logo/03.png" />
      <h2>03号</h2>
      <div class="logo_desc">
      	logo具有俱乐部的所有元素，中英文全名，背景以及公仔是腾讯的代表，灯泡代表innnovation，idea，突出了我们俱乐部的名字中别人不具备的创新。图中公仔腾飞抱着灯泡，体现出我们一直追求着创新并且在腾飞着。
      </div>
    </div>
  </div>
  <div class="row">
  	<div class="logo col-xs-4">
      <img class="col-xs-12" src="http://jaysonhwang-static.stor.sinaapp.com/tic_logo/04.jpg" />
      <h2>04号</h2>
      <div class="logo_desc">
		我的logo整体是一个人手悬着一把钥匙，钥匙上有腾讯logo，人和钥匙的形状可以看出tic字样，人下是scut tencent innocation club表明是腾讯创新俱乐部～ 
      </div>
    </div>
  	<div class="logo col-xs-4">
      <img class="col-xs-12" src="http://jaysonhwang-static.stor.sinaapp.com/tic_logo/05.jpg" />
      <h2>05号</h2>
      <div class="logo_desc">

      </div>
    </div>
    <div class="logo col-xs-4">
      <img class="col-xs-12" src="http://jaysonhwang-static.stor.sinaapp.com/tic_logo/06.jpg" />
      <h2>06号</h2>
      <div class="logo_desc">
      	四个箭头来自不同的方向，代表来自不同地方的我们；箭头都是向上，代表自我的提升；TIC在箭头中部，代表通过这个组织去实现这种改变 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="logo col-xs-4">
      <img class="col-xs-12" src="http://jaysonhwang-static.stor.sinaapp.com/tic_logo/07.jpg" />
      <h2>07号</h2>
      <div class="logo_desc">
		这个LOGO说明的实现是握住飞行灵感和未来，其次是对俱乐部的说明，画的不好，在球里面类似栅栏的东西是华工校徽里面的那个石碑，上面也参照了校徽，但是两片叶子之间的不是花，而是以tic标志构造的花蕾，寓意着华工腾讯创新俱乐部。
       </div>
    </div>
    <div class="logo col-xs-4">
      <img class="col-xs-12" src="http://jaysonhwang-static.stor.sinaapp.com/tic_logo/08.jpg" />
      <h2>08号</h2>
      <div class="logo_desc">
		这个LOGO说明的实现是握住飞行灵感和未来，其次是对俱乐部的说明，画的不好，在球里面类似栅栏的东西是华工校徽里面的那个石碑，上面也参照了校徽，但是两片叶子之间的不是花，而是以tic标志构造的花蕾，寓意着华工腾讯创新俱乐部。
      </div>
    </div>
    <div class="logo col-xs-4">
      <img class="col-xs-12" src="http://jaysonhwang-static.stor.sinaapp.com/tic_logo/09.jpg" />
      <h2>09号</h2>
      <div class="logo_desc">
      	该标志将腾讯的企鹅形象以Tic中C的形式融入到标志中，将“腾讯”与“Tic”以这种方式结合起来体现创新。用红，黄，蓝，绿四种鲜明的颜色展现是为了使得整个标志看起来更具有活力和动感。 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="logo col-xs-4">
      <img class="col-xs-12" src="http://jaysonhwang-static.stor.sinaapp.com/tic_logo/10.jpg" />
      <h2>10号</h2>
      <div class="logo_desc">
      	图案表现简洁易懂，辨识度高，至少一眼能看出是腾讯。
      </div>
    </div>
    <div class="logo col-xs-4">
      <img class="col-xs-12" src="http://jaysonhwang-static.stor.sinaapp.com/tic_logo/11.jpg" />
      <h2>11号</h2>
      <div class="logo_desc">
      	…LOGO的主体是变形的火  由腾讯图标四色组成  tic用华工校徽颜色体现与华工联系  纯色图标是为了顺应扁平化趋势 
      </div>
    </div>
    <div class="logo col-xs-4">
      <img class="col-xs-12" src="http://jaysonhwang-static.stor.sinaapp.com/tic_logo/12.jpg" />
      <h2>12号</h2>
      <div class="logo_desc">
	 	 我的思路就是：创新，就是要走出去，然后就加了翅膀。报告over 
      </div>
    </div>
  </div>
  <div class="row">
  	<div class="logo col-xs-4">
      <img class="col-xs-12" src="http://jaysonhwang-static.stor.sinaapp.com/tic_logo/04.jpg" />
      <h2>13号</h2>
      <div class="logo_desc">
		众所周知，作为腾讯的一个象征，qq表情已经将一种腾讯文化深深的刻在了每一个网民心中。它们有各式各样的动作，表情，形式，便于人们用其表达自己，而我就是用这样一些特殊的符号，拼成了腾讯的标志公仔，远看生动形象，近看新奇别致，符合部门创新的主题，而公仔手里的“宣”字，则是代表了我们身为腾讯创新宣传部的一员。总的来说，这个标志低调而不失其内涵，简洁而不失其艺术 
      </div>
    </div>
    <div class="logo col-xs-4">
      <img class="col-xs-12" src="http://jaysonhwang-static.stor.sinaapp.com/tic_logo/tic_logo.jpg" />
      <h2>14号</h2>
      <div class="logo_desc">
      	原版logo
      </div>
  </div>
  </div>
</div>
{% endblock %}
