{% load staticfiles %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="博客,JaySon,网络安全,信息安全," />
    <meta name="description" content="" />

    <link rel="alternate" hreflang="zh" href="http://jaysonhwang.sinaapp.com/" />
{# load CSS and JavaScript #}
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">{# Bootstrap 核心 CSS 文件 #}
{# <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> #}{# 可选的Bootstrap主题文件（一般不用引入） #}
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>{# jQuery文件。务必在bootstrap.min.js 之前引入 #}
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>{# 最新的 Bootstrap 核心 JavaScript 文件 #}

  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
  <script type="text/javascript" src="{% static 'functions.js' %}"></script>
  </head>

<body>
  <nav class="navbar navbar-inverse navbar-static-top">{# 导航条 #}
    <div class="container">
      {# no Brand and toggle get grouped for better mobile display #}
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% spaceless %}{% for profile in profile_list %}
            {% if forloop.first %}<li class="active">{% else %}<li>{% endif %}
            <a href="{{ profile.url }}" title="{{ profile.title }}">{{ profile.title }}</a></li>
          {% endfor %}{% endspaceless %}
        </ul>
      </div>
    </div>
  </nav>{# end导航条 #}
  <div class="container">
	<div class="container-fluid" id="info">
    <img src="http://jaysonhwang-static.stor.sinaapp.com/images/profile_icon.jpg" alt=""><br />JaySon.
  </div> <!--info end-->
  <div id="content" class='row-fluid'>
  {% block content %}{% endblock %}
  </div><!--container end-->
<footer>{# 底部栏 #}
  <div class="container">
    <a href="/sitemap.xml" title='站点地图'>站点地图</a>
    <br />
    <a href="/tic_logo/">TIC logo设计查看</a>
    <br />
    <p>Copyright &copy; 2014 by JaySon Huang.All rights reserved.</p>
  </div>
</footer>{# end底部栏 #}

<!-- jQuery返回顶部 -->
<div id="gotopbox">
  <a id="gotop" href="javascript:void(0)">返回顶部</a>
  <span class="glyphicon glyphicon-arrow-up"></span>
</div>
</body>
</html>
